*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:#abd1ef ;
    display: flex;
    width: auto;
    height: auto;

}
header nav ul{
    display: flex;
      
    list-style: none;
    flex-direction: row;
        
}

header nav ul li{
    margin-left: 25px;
    text-align: center;
    justify-content: center;
    margin-top: 13px;

       

}


header img{
    margin-left: 12px;
}

#Banner{
    background-image: url(/bg.jpg);
    /* backface-visibility: visible; */
    background-attachment: fixed;
    background-size: cover;
}


#product-text{
   text-align: center;
   font-size: xx-large;
   font-weight: bolder;
   margin-top: 10px ;
   
}
